/*===============================================================================
* Variables
*================================================================================*/
/* line 1, ../sass/base/_base.scss */
html {
  height: 100%;
  background-color: #cb63ed;
}

/* line 6, ../sass/base/_base.scss */
body {
  min-width: 320px;
  background-color: #e0e0e0;
}

/* line 11, ../sass/base/_base.scss */
a:focus {
  outline: none;
}

/*===============================================================================
* HEADER
*================================================================================*/
/* line 6, ../sass/layout/_header.scss */
.header > .row {
  background-color: #fff;
}

/* line 11, ../sass/layout/_header.scss */
.title {
  color: #606060;
  font: 43px/1.2em bold "Noticia Text", sans-serif;
}
/* line 14, ../sass/layout/_header.scss */
.title a {
  color: #606060;
}
/* line 18, ../sass/layout/_header.scss */
.title a:hover,
.title a:focuse {
  color: #606060;
  text-decoration: none;
}

/* line 25, ../sass/layout/_header.scss */
.subtitle {
  margin-top: -4px;
  color: #606060;
  font: 25px "Noticia Text";
}

/* Navigation
*================================================================================*/
/* line 4, ../sass/layout/_navigation.scss */
.nav-light {
  font: normal 12px/12px "Noticia Text";
  text-transform: uppercase;
}

/* line 10, ../sass/layout/_navigation.scss */
.nav-light li {
  display: inline-block;
  padding-right: 20px;
}
/* line 15, ../sass/layout/_navigation.scss */
.nav-light a {
  color: #c3bfbe;
}
/* line 19, ../sass/layout/_navigation.scss */
.nav-light a:hover {
  color: #61cfd3;
}

/* line 24, ../sass/layout/_navigation.scss */
.nav-light .active a {
  color: #61cfd3;
}

/* line 28, ../sass/layout/_navigation.scss */
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

/*===============================================================================
* FOOTER
*================================================================================*/
/* line 5, ../sass/layout/_footer.scss */
footer {
  min-height: 150px;
  padding-top: 40px;
  background-color: #cb63ed;
  text-align: center;
}
/* line 10, ../sass/layout/_footer.scss */
footer span {
  display: inline-block;
  padding: 10px 0 10px 10px;
  color: #fff;
  font: 13px "Noticia Text", sans-serif;
  letter-spacing: .2px;
  text-align: left;
}
/* line 19, ../sass/layout/_footer.scss */
footer a,
footer a:hover {
  margin-right: 8px;
  text-decoration: none;
  color: #fff;
}

/* line 27, ../sass/layout/_footer.scss */
.footer-item {
  padding: 0 7px;
  margin-bottom: 25px;
}

/* line 32, ../sass/layout/_footer.scss */
.footer-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: #61cfd3;
  color: #fff;
  font: 14px;
  line-height: 60px;
  text-align: center;
}

/* line 45, ../sass/layout/_footer.scss */
.remove-left-padding {
  padding-left: 0;
}

/* line 49, ../sass/layout/_footer.scss */
.remove-right-padding {
  padding-right: 0;
}

/*===============================================================================
* SECTIONS
*================================================================================*/
/* line 5, ../sass/pages/_sections.scss */
.main {
  padding: 4em 1em;
  border-bottom: 4px solid #fff;
  margin-top: 20px;
  background-color: #e0e0e0;
}

/* line 12, ../sass/pages/_sections.scss */
.title-section {
  color: #fff;
  font-size: 80px;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 19, ../sass/pages/_sections.scss */
.circle {
  display: table;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #cb63ed;
}

/* line 27, ../sass/pages/_sections.scss */
.circle-text {
  display: table-cell;
  vertical-align: middle;
}

/* HOME
*================================================================================*/
/* line 4, ../sass/pages/_home.scss */
.greeting {
  color: #606060;
  font: 46px "Noticia Text";
  line-height: 20px;
}

/* line 10, ../sass/pages/_home.scss */
.greeting strong {
  color: #606060;
  font: bolder 2em "Noticia Text";
  letter-spacing: -4px;
}

/* line 16, ../sass/pages/_home.scss */
.links-info li {
  padding: 10px;
  padding-left: 0;
}

/* line 21, ../sass/pages/_home.scss */
.links-info a {
  background-color: #e83556;
  text-align: center;
  color: #fff;
  font: 13px Open Sans;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 30px;
}

/* line 31, ../sass/pages/_home.scss */
.links-info .link-resume {
  background-color: #cb63ed;
}

/* line 35, ../sass/pages/_home.scss */
.link-resume:hover {
  background-color: #8c36a8;
  transition: background-color 0.4s ease 0s;
}

/* line 40, ../sass/pages/_home.scss */
.links-info .link-work {
  background-color: #61cfd3;
}

/* line 44, ../sass/pages/_home.scss */
.link-work:hover {
  background-color: #408a8d;
  transition: background-color 0.4s ease 0s;
}

/* line 49, ../sass/pages/_home.scss */
.links-info .link-skills {
  background-color: #d1c825;
}

/* line 53, ../sass/pages/_home.scss */
.link-skills:hover {
  background-color: #8b8519;
  transition: background-color 0.4s ease 0s;
}

/* line 58, ../sass/pages/_home.scss */
.about-text {
  color: #606060;
  font: 14px "Noticia Text";
}

/* RESUME
*================================================================================*/
/* line 4, ../sass/pages/_resume.scss */
.resume {
  padding-top: 0;
}

/* line 8, ../sass/pages/_resume.scss */
.resume-info {
  padding: 20px 0;
  border-top: 1px solid #c3bfbe;
}

/* line 13, ../sass/pages/_resume.scss */
.info-name {
  color: #fff;
  font: 17px "Noticia Text", sans-serif;
}

/* line 18, ../sass/pages/_resume.scss */
.info-text {
  margin-left: 120px;
  padding: 20px;
  color: #606060;
  font: 16px "sans-serif";
  vertical-align: middle;
}

/* line 26, ../sass/pages/_resume.scss */
.info-text dd {
  margin-bottom: 30px;
}

/* line 30, ../sass/pages/_resume.scss */
.circle-download {
  background-color: #d1c825;
}

/* line 34, ../sass/pages/_resume.scss */
.circle-download:hover {
  background-color: #8b8519;
}

/* line 38, ../sass/pages/_resume.scss */
.circle-download,
.circle-download:hover,
.circle-download:focus {
  color: #fff;
  text-decoration: none;
}

/* line 44, ../sass/pages/_resume.scss */
.side-info {
  margin-top: 51px;
}

/* line 48, ../sass/pages/_resume.scss */
.circle-resume-icon {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
}

/* line 59, ../sass/pages/_resume.scss */
.circle-resume-title {
  padding-right: 0;
  line-height: 45px;
}

/* line 64, ../sass/pages/_resume.scss */
.information-extra .info-name {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #c3bfbe;
  color: #606060;
}

/* line 71, ../sass/pages/_resume.scss */
.skills,
.languages {
  padding-left: 0;
  color: #fff;
  font: 14px "sans-serif";
  list-style-type: none;
}

/* line 79, ../sass/pages/_resume.scss */
.skills li,
.languages li {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: #61cfd3;
}

/* line 87, ../sass/pages/_resume.scss */
.circle-resume {
  float: left;
  padding: 10px;
  text-align: center;
}

/* PROJECTS
*================================================================================*/
/* line 4, ../sass/pages/_projects.scss */
.projects {
  padding: 0;
}

/* line 8, ../sass/pages/_projects.scss */
.project-title {
  padding-top: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #c3bfbe;
}

/* line 14, ../sass/pages/_projects.scss */
.project {
  border-bottom: 1px solid #c3bfbe;
  padding: 40px 0;
}

/* line 19, ../sass/pages/_projects.scss */
.project-name {
  padding: 10px 0;
  margin-top: -20px;
  color: #606060;
  font: 17px "Noticia Text", sans-serif;
}

/* line 26, ../sass/pages/_projects.scss */
.project-description-text {
  padding: 10px 0;
  color: #606060;
  font: 13px "Open Sans", sans-serif;
}

/* line 32, ../sass/pages/_projects.scss */
.project-links {
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  margin-left: -10px;
  color: #fff;
  font: 12px "Open Sans", sans-serif;
}

/* line 41, ../sass/pages/_projects.scss */
.project-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 4px 0;
  margin-bottom: 10px;
  border-radius: 50%;
  color: #fff;
  background-color: #cb63ed;
  line-height: 50px;
  text-align: center;
}

/* line 54, ../sass/pages/_projects.scss */
.project-link:hover {
  background-color: #8c36a8;
}

/* line 58, ../sass/pages/_projects.scss */
.used-techs {
  margin-left: -10px;
  color: #fff;
  font: 14px "sans-serif";
}

/* line 64, ../sass/pages/_projects.scss */
.tech {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  background-color: #61cfd3;
}

/* line 71, ../sass/pages/_projects.scss */
.see-more {
  padding: 20px;
  color: #606060;
  font: 17px "Noticia Text", sans-serif;
}

/* line 77, ../sass/pages/_projects.scss */
.see-more-text {
  display: table;
  height: 90px;
  margin-right: 100px;
}

/* line 83, ../sass/pages/_projects.scss */
.see-more-text-inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 88, ../sass/pages/_projects.scss */
.talk {
  float: right;
  width: 90px;
  height: 90px;
  background-color: #61cfd3;
  color: #fff;
  text-align: center;
  line-height: 90px;
}

/* line 98, ../sass/pages/_projects.scss */
.talk:hover {
  background-color: #408a8d;
}

/* line 102, ../sass/pages/_projects.scss */
.talk:hover,
.talk:focus {
  color: #fff;
  text-decoration: none;
}

/* line 108, ../sass/pages/_projects.scss */
.carousel {
  max-width: 500px;
}

/* CONTACT
*================================================================================*/
/* line 4, ../sass/pages/_contact.scss */
.contact {
  border-bottom: 1px solid #c3bfbe;
}

/* line 8, ../sass/pages/_contact.scss */
.contact-link {
  width: 80px;
  height: 80px;
  padding: 0;
  background-color: #cb63ed;
  text-align: center;
}

/* line 16, ../sass/pages/_contact.scss */
.contact-link:hover {
  background-color: #8c36a8;
}

/* line 20, ../sass/pages/_contact.scss */
.contact-items {
  padding-left: 20px;
  color: #606060;
  font: 20px "Open sans", sans-serif;
}

/* line 26, ../sass/pages/_contact.scss */
.title-follow {
  font-size: 28px;
}

/* line 30, ../sass/pages/_contact.scss */
.follow-links {
  padding: 30px;
}

/* line 34, ../sass/pages/_contact.scss */
.follow-links li {
  padding: 0 20px;
}

/* line 38, ../sass/pages/_contact.scss */
.follow-links a {
  color: #fff;
}

/* line 42, ../sass/pages/_contact.scss */
.social-network-name {
  padding-left: 10px;
  color: #606060;
  font: 16px "sans-serif";
}

/* line 48, ../sass/pages/_contact.scss */
.dl-horizontal dd {
  margin-left: 130px;
}

/* line 52, ../sass/pages/_contact.scss */
.dl-horizontal dt {
  width: 95px;
}

/* line 56, ../sass/pages/_contact.scss */
.img-location {
  padding: 20px;
}

/*===============================================================================
* MEDIA QUERIES
*================================================================================*/
@media (max-width: 991px) {
  /* line 7, ../sass/pages/_mediaqueries.scss */
  .follow-links {
    padding: 10px;
  }

  /* line 11, ../sass/pages/_mediaqueries.scss */
  .follow-links li {
    padding: 0 10px;
  }

  /* line 15, ../sass/pages/_mediaqueries.scss */
  .footer-item-right {
    width: 300px;
  }

  /* line 19, ../sass/pages/_mediaqueries.scss */
  .footer-item-left {
    width: 100px;
  }
}
@media (max-width: 767px) {
  /* line 26, ../sass/pages/_mediaqueries.scss */
  .header {
    text-align: center;
  }

  /* line 30, ../sass/pages/_mediaqueries.scss */
  .links-info {
    text-align: center;
  }

  /* line 34, ../sass/pages/_mediaqueries.scss */
  .img-circle {
    display: block;
    margin: 0 auto;
  }

  /* line 39, ../sass/pages/_mediaqueries.scss */
  .greeting {
    text-align: center;
  }

  /* line 43, ../sass/pages/_mediaqueries.scss */
  .side-info {
    padding-top: 20px;
    margin-top: 0;
    border-top: 1px solid #c3bfbe;
  }

  /* line 49, ../sass/pages/_mediaqueries.scss */
  .dl-horizontal dd {
    margin-left: 0;
  }

  /* line 53, ../sass/pages/_mediaqueries.scss */
  .title-section,
  .contact-items,
  .follow-links,
  .used-techs,
  .project-name,
  .project-description-text,
  .project-links {
    text-align: center;
  }

  /* line 63, ../sass/pages/_mediaqueries.scss */
  .contact-items dt {
    float: none;
    width: 100%;
  }

  /* line 68, ../sass/pages/_mediaqueries.scss */
  .carousel {
    margin: 0 auto;
  }

  /* line 72, ../sass/pages/_mediaqueries.scss */
  .footer-item-right {
    width: 220px;
  }

  /* line 76, ../sass/pages/_mediaqueries.scss */
  .footer-item-left {
    width: 220px;
  }
}
@media (max-width: 479px) {
  /* line 82, ../sass/pages/_mediaqueries.scss */
  .nav-light {
    font: normal 8px;
    line-height: 8px;
  }
  /* line 86, ../sass/pages/_mediaqueries.scss */
  .nav-light li {
    padding-right: 0;
  }
  /* line 89, ../sass/pages/_mediaqueries.scss */
  .nav-light li a {
    padding: 10px;
  }

  /* line 95, ../sass/pages/_mediaqueries.scss */
  .greeting {
    font-size: 37px;
    line-height: 10px;
  }

  /* line 100, ../sass/pages/_mediaqueries.scss */
  .links-info a {
    font-size: 12px;
    line-height: 20px;
  }

  /* line 105, ../sass/pages/_mediaqueries.scss */
  .circle-xs-responsive {
    width: 80px;
    height: 80px;
  }

  /* line 110, ../sass/pages/_mediaqueries.scss */
  .main {
    padding: 20px 0;
  }

  /* line 114, ../sass/pages/_mediaqueries.scss */
  .about-text {
    text-align: justify;
  }

  /* line 118, ../sass/pages/_mediaqueries.scss */
  .title-section {
    font-size: 60px;
  }

  /* line 122, ../sass/pages/_mediaqueries.scss */
  .info-text {
    padding: 0 20px;
    margin-left: 0;
  }

  /* line 127, ../sass/pages/_mediaqueries.scss */
  .circle-resume {
    display: block;
    float: none;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    margin: 0;
    background: none;
    color: #606060;
    font-size: 30px;
    font-weight: bold;
    border-radius: 0;
  }

  /* line 141, ../sass/pages/_mediaqueries.scss */
  .circle-download {
    text-decoration: underline;
  }
  /* line 144, ../sass/pages/_mediaqueries.scss */
  .circle-download:hover, .circle-download:focus {
    background: none;
    text-decoration: none;
  }

  /* line 151, ../sass/pages/_mediaqueries.scss */
  .circle-resume-title {
    font-size: 14px;
  }
}
