/*===============================================================================
* Variables
*================================================================================*/

$white: #fff;
$scorpion: #606060;
$silver: #c3bfbe;
$viking: #61cfd3;
$alto: #e0e0e0;
$heliotrope: #cb63ed;